 body {
        color: aliceblue;
        font-family: sans-serif;
        background: linear-gradient(45deg, #0a0a0a, #3a4452);
      }

      .main {
        margin: auto;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;
        width: 400px;
        background: transparent;
        padding: 2px 20px 20px 20px;
        border-radius: 30px;
        animation: intro 2s cubic-bezier(0, 0, 0.62, 1.05);
      }
      @keyframes intro {
        from {
          transform: translateX(-600px);
        }

        to {
          transform: translateX(0px);
        }
      }
      h1:hover {
        color: rgb(185, 185, 185);
      }
      .main:hover {
        background: transparent;
        box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
      }
      button {
        background: transparent;
        box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
        color: rgb(255, 255, 255);
        padding: 10px;
        font-size: 15px;
        border: none;
        outline: none;
        border-radius: 30px;
        cursor: pointer;
        width: 50%;
        font-weight: 900;
        transition: 0.2s ease;
      }

      button:hover {
        background: transparent;
        box-shadow: 0 0 10px rgb(40, 41, 41);
        border-style: solid;
        border-style: 10px;
      }

      .output {
        margin: auto;
        padding: 2px 20px 20px 20px;
        border-radius: 30px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        justify-self: center;
        width: fit-content;
        background: transparent;
        height: 1540px;
        width: 400px;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 20px;
              animation: inro2 2s ease-out;
      }

      @keyframes inro2 {
        from {
          transform: translateY(900px);
        }

        to {
          transform: translateY(0px);
        }
      }
      a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 10px 20px 50px 20px;
      }
      .output:hover {
        background: transparent;
        box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
      }